:root {
    --nav_left_max: 375px;
    --vh: 1vh;
    --nav_top: calc(50 * var(--vh));
    --nav_handle_size: 35px;
    --scrollbarw: 0px;
    --border_w: 1.8px;
    --purple: #796e7a;
    --white: #e8efef;
}

html,
body {
    background-color: var(--purple);
    overflow: hidden;
    --nav_padding: 0.8em;
    --nav_left: min(
        calc(100vw - var(--nav_handle_size)),
        max(var(--nav_left_max), calc(0.3em + var(--nav_padding) * 2))
    );
    --nav_w: calc(var(--nav_left) + var(--nav_handle_size) / 2);
    --section_w: calc(100vw - var(--nav_w));
}

html,
body,
nav {
    font-size: 23px; /* control */
}

* {
    box-sizing: border-box;
    font-family: var(--asabovesobelow), var(--font-noto);
    margin: 0;
    padding: 0;
    font-variation-settings: 'wght' 0;
    color: var(--purple);
    font-kerning: normal;
    text-align: unset;
    background-color: unset;
}

.kernl_negav1 {
    margin-left: calc(-1 * var(--nav_unit));
}

main {
    width: 100vw;
    height: calc(100 * var(--vh));
    position: relative;
    overflow: hidden;
    display: flex;
}

/* */
#togglelig {
    position: absolute;
    display: block;
    left: var(--nav_padding);
    bottom: var(--nav_padding);
    border: 0px;
    overflow: visible;
    line-height: 5em;
    transition: font-variation-settings 0.2s, line-height 0.2s;
    font-variation-settings: 'wght' 100;
    cursor: pointer;
    font-size: 0.65em;
}

#togglelig span {
    display: none;
    line-height: inherit;
    font-variation-settings: inherit;
}

#togglelig span:first-child,
.small ~ #togglelig span:nth-child(2) {
    display: inline-block;
}

.small ~ #togglelig span:first-child {
    display: none;
}

#togglelig span:first-child:after {
    content: ': on>';
}

.nolig #togglelig {
    font-variation-settings: 'wght' 0;
    line-height: 1.8em;
}

.nolig #togglelig span:first-child:after {
    content: ': off>';
}

/* */
nav {
    --nav_unit: calc(1em / (20 / 1.4));
    width: var(--nav_w);
    height: 100%;
    background-color: var(--white);
    overflow: visible;
    position: relative;
    transition: width 0.2s;
}

nav.help {
    border: 0px solid transparent;
}

nav #overflow {
    padding: var(--nav_padding);
    padding-top: calc(var(--nav_padding) + 2.8em);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

nav #overflow > * {
    position: relative;
}

nav :is(a, button) {
    text-decoration: none;
    display: block;
    width: fit-content;
    -webkit-appearance: none;
    border: 0px;
}

nav #nav_handle {
    width: var(--nav_handle_size);
    height: var(--nav_handle_size);
    background-color: var(--white);
    border: solid var(--border_w) var(--purple);
    border-radius: 25px;
    position: absolute;
    touch-action: none;
    user-select: none;
    left: var(--nav_left);
    top: min(calc((100 * var(--vh)) - var(--nav_handle_size)), var(--nav_top));
    z-index: 100;
    transition: left 0.2s;
    text-align: center;
}

nav #nav_handle::after {
    content: '<>';
    position: relative;
    top: 50%;
    display: block;
    transform: translateY(-25%);
}

nav .logo {
    word-break: break-all;
    line-height: 0.6em;
}

nav #ontransitionend {
    opacity: 0;
    z-index: -100;
    pointer-events: none;
    left: 0;
    transition: left 0.5s;
    display: block;
    width: 100%;
    height: 8em;
}

nav #ontransitionend.trans {
    left: 1px;
}

nav .sublink {
    line-height: 1em;
    margin-top: 2.7em;
    position: relative;
    left: 0;
    transition: transform 0.5s;
}

nav .underline > span:is(:first-child, :nth-child(2)) {
    text-decoration: underline;
}

nav .sublink > * {
    cursor: pointer;
    position: relative;
    z-index: 2;
}

nav :is(.sublink, #logo2) span.mark {
    font-kerning: none;
    transition: font-variation-settings 0.2s;
    font-variation-settings: 'wght' 0;
}

nav :is(.sublink, #logo2) > span:first-child,
nav.small :is(.sublink, #logo2) > :nth-child(n + 2) {
    display: none;
}

nav :is(.sublink, #logo2) > span:nth-child(2),
nav.small :is(.sublink, #logo2) > span:first-child {
    display: inline-block;
}
/**/
nav .sublink > .model:nth-child(n + 3) {
    display: block;
    position: relative;
    visibility: hidden;
    margin-top: 0em;
    line-height: 0em;
    word-break: break-all;
    width: calc(var(--nav_unit) * 43);
    /*transition: line-height 1s, margin-top 1s, width 1s;*/
    z-index: 1;
    color: transparent;
}

nav .sublink > .model:nth-child(n + 3) > span {
    color: inherit;
}

nav .sublink > .model:nth-child(n + 3)::first-line {
    color: var(--purple);
}

nav .sublink > .model:nth-child(3) {
    margin-top: -0.5em;
}

nav.medium .sublink > .model:nth-child(n + 3) > span:nth-child(2) {
    display: none;
}

nav .sublink.show > .model:nth-child(n + 3) {
    visibility: visible;
}

nav .sublink.dropdown > .model:nth-child(n + 3) {
    margin-top: 1em;
    line-height: 1em;
    width: 100%;
}

nav .sublink > .model:nth-child(n + 3) > span:first-child {
    font-variation-settings: 'wght' 0;
    /*transition: font-variation-settings 1s;*/
}

nav .sublink.dropdown > .model:nth-child(n + 3) > span:first-child {
    font-variation-settings: 'wght' 37;
}
/**/
nav.anim :is(.sublink, #logo2) span.mark.alt,
nav.small #logo2 span,
nav.small #logo2,
nav #logo1 {
    font-variation-settings: 'wght' 100;
}

nav.small .sublink {
    left: 0 !important;
}

nav.small #logo2 span.mark {
    animation-name: logo2;
    animation-duration: 0.5s;
}

@keyframes logo2 {
    0% {
        font-variation-settings: 'wght' 0;
    }
    100% {
        font-variation-settings: 'wght' 100;
    }
}

/* */
nav .logo2 .logo {
    display: inline-block;
}

nav .logo2 [href='/about'] {
    margin-top: 2.5em;
}

/* */
section {
    left: 0;
    top: 0;
    flex: 1;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    border: solid var(--border_w) var(--purple);
    font-size: 0.65em;

    --lh: 1;
    --lig: 88;
    --lig_cap: 79;
    --lig_extra: 9;
    --lig_des: 96;
}

h1 {
    font-size: 1em;
}

/* */
section > div {
    padding: var(--nav_padding) var(--section_padding);
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    --section_padding: 1.3em;
    --true_w: calc(
        var(--section_w) - var(--section_padding) * 2 - var(--scrollbarw) - 10px
    );
}

section * {
    color: var(--white);
    line-height: 1.5em;
}

section #landingvideo {
    width: 100vw;
    height: 56.25vw;
    min-height: calc(100 * var(--vh));
    min-width: calc(177.77 * var(--vh));
    position: relative;
    pointer-events: none;
    top: calc(50 * var(--vh));
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
}

section :is(.flex, .flex_sta, .flex_end) {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

section .flex.title {
    --lh: 0.33499999999999996;
    --lig: 12;
    --lig_cap: 5.849999999999996;
    --lig_des: 5.549999999999995;
}

section .flex_sta {
    justify-content: flex-start;
}

section .flex_end {
    justify-content: flex-end;
}

section .wrapper {
    --min_w: 1000px;
    --unit: calc(1em / (20 / 1.4));
    --cal_w: min(var(--true_w), var(--min_w));
    width: var(--cal_w);
    overflow: visible;
    position: relative;
}

section .wrapper * {
    line-height: calc(var(--lh) * 3.64em);
}

section .wrapper > div {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: visible;
    left: 0;
    top: 0;
    padding-right: 1px;
}

section .wrapper .backend {
    position: absolute;
    visibility: hidden;
}

section .wrapper .backend * {
    color: red;
}

section .wrapper.anim .frontend span {
    transition: font-variation-settings 0.3s;
}

section .noanim .wrapper.anim .frontend span {
    transition: unset;
}

section .wrapper .frontend span {
    font-variation-settings: 'wght' 0;
    font-kerning: none;
}

section .wrapper .frontend span {
    font-variation-settings: 'wght' 0;
    font-kerning: none;
}

section .lig span.alt {
    font-variation-settings: 'wght' var(--lig);
}

section .lig span.altshort {
    font-variation-settings: 'wght' var(--lig_cap);
}

section .lig span.alt.des {
    font-variation-settings: 'wght' var(--lig_des);
}

section .lig span.alt.letter_t {
    font-variation-settings: 'wght' calc(var(--lig) + var(--lig_extra));
}

section .lig span.altshort.letter_t {
    font-variation-settings: 'wght' calc(var(--lig_cap) + var(--lig_extra));
}

#main.nolig section .lig span {
    font-variation-settings: 'wght' 0;
}

section .lineheightkeep {
    display: none;
}

section .interview_firstline .frontend::first-line {
    text-decoration: underline;
}

/* */
section .image {
    position: relative;
    height: 70px;
}

section .image.model_img img {
    border: var(--border_w) var(--white) solid;
}

section .image img {
    height: 100%;
    width: auto;
}

/* */
.IR_flex {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.IR_flex > .flex_item {
    width: fit-content;
    align-self: flex-start;
}

.IR_flex > .flex_item > * {
    position: relative;
}

.IR_flex > .flex_item iframe {
    --finalw: min(var(--mwidth), var(--true_w));
    width: var(--finalw);
    height: calc(var(--finalw) * 0.5625);
    border: var(--border_w) var(--white) solid;
}

.IR_flex > .flex_item .timestamp p {
    text-decoration: underline;
}

/* */
@keyframes flashAnimation {
    0%,
    100% {
        background-color: initial;
    }
    50% {
        background-color: var(--white); /* Change to the desired color */
    }
}

.flashing {
    animation: flashAnimation 0.5s;
}

@media only screen and (max-width: 1550px) {
    :root {
    }

    html,
    body,
    nav {
        font-size: 20px; /* control */
    }

    #togglelig,
    section {
        font-size: 0.72em;
    }
}

@media only screen and (max-width: 600px) {
    :root {
        --nav_left_max: 125px;
        --nav_handle_size: 25px;
        --border_w: 1px;
    }

    html,
    body,
    nav {
        font-size: 16px; /* control */
    }

    #togglelig,
    section {
        font-size: 0.8em;
    }
}

nav:not(.small) .underline #logo2 > *,
nav:not(.small) .underline #logo1 ~ #logo2 > *,
nav.small .underline #logo2 .mark.y,
nav.small .underline #logo1 ~ #logo2 .mark.y,
nav:not(.small) #logoouter.logo2.underline * {
    text-decoration: underline;
    text-decoration-color: var(--purple);
}

@media (hover: hover) and (pointer: fine) {
    nav :is(.sublink, #logo2) > *:hover,
    #logo1:hover ~ #logo2 > * {
        text-decoration: underline;
        text-decoration-color: var(--purple);
    }

    nav.small #logo2:hover > *,
    nav.small #logo1:hover ~ #logo2 > * {
        text-decoration: none;
    }

    nav.small #logo2:hover .mark.y,
    nav.small #logo1:hover ~ #logo2 .mark.y {
        text-decoration: underline;
    }

    nav #logoouter.logo2:hover * {
        text-decoration: underline;
    }
}
